{% extends 'base_layout.html' %} {% block content %}
<h1>Change password</h1>

<form class="site-form" action="{% url 'loginapp:change_password' %}" method="POST">
  {% csrf_token %}
  {% if error %}
  <p class="error">{{ error }} {% endif %}</p>
  {% if success %}
  <p class="success">{{ success }} {% endif %}</p>
  <label for="new_password">New password</label>
  <input type="text" id="new_password" name="new_password" placeholder="New password" />
  <br />
  <label for="confirm_password">Confirm password</label>
  <input type="text" id="confirm_password" name="confirm_password" placeholder="Confirm password" />
  <br />
  <button>Change password</button>
  <a href="{% url 'todoapp:index' %}">Cancel</a>
</form>
{% endblock %}