<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo APP</title>
</head>
<body>
    <h1>Login</h1>

    <form action="{% url 'loginapp:login' %}" method="POST">
        {% csrf_token %}
        <label for="user">Username</label>
        <input type="text" id="user" name="user" placeholder="Username">
        <br />
        <label for="user">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
        <br />
        <button>Login</button>
    </form>

    <span>
        <a href="{% url 'loginapp:signup' %}">Sign up</a>
        <a href="{% url 'loginapp:forgot_password' %}">Forgot password</a>
    </span>

    {% if error %} <p class="error"> {{ error }} {% endif %}</p>
    {% if success %} <p class="success"> {{ success }} {% endif %}</p>

</body>
</html>