{% extends 'base_layout.html' %} {% block content %}

<h1>Login</h1>

<form class="site-form" action="{% url 'loginapp:login' %}" method="POST">
  {% csrf_token %}
  {% if error %}
  <p class="error">{{ error }} {% endif %}</p>
  {% if success %}
  <p class="success">{{ success }} {% endif %}</p>
  <label for="user">Username</label>
  <input type="text" id="user" name="user" placeholder="Username" />
  <br />
  <label for="user">Password</label>
  <input type="password" id="password" name="password" placeholder="Password" />
  <br />
  <button>Login</button>
  <span>
    <a href="{% url 'loginapp:forgot_password' %}">Forgot password</a>
  </span>

</form>


{% endblock %}