@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
    background-color: #25274D;
    background-image: url(../bg.png);
    background-blend-mode: multiply;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

img.logo {
    max-width: 150px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin: 0;
}


a,
a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1 {
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}

div.wrapper h2 {
    font-size: 2em;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav {
    justify-self: end;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav button {
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article {
    padding: 10px;
    border: 1px solid rgba(46, 156, 202, 0.5);
    background-color: rgba(46, 156, 202, 0.1);
    position: relative;
    padding-bottom: 40px;
}

.article .button-row {
    display: flex;
    flex-direction: row-reverse;
}

.article button {
    background: #2E9CCA;
    border-left: 1px;
    border-color: black;
    color: #fff;
    font-size: 1.1em;
    padding: 10px;
    outline: 0;
}

.article button:hover {
    background: #008eca;
}

.article button:active {
    background: #00648f;
}

.article .author {
    padding: 10px;
    background: #2E9CCA;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    margin: 0;
    right: 0;
    color: #0f121f;
}

.article h2 {
    font-size: 1.2em;
}

.article-detail .article {
    padding: 0;
}

.article-detail .article img {
    max-width: 100%;
}

.article-detail .article h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 2em;
}

.article-detail .article p {
    text-align: center;
}

.site-form {
    margin-top: 60px;
    border: 1px solid #2E9CCA;
    padding: 20px;
}

.site-form input,
.site-form textarea {
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

a.highlight {
    border: 1px solid rgba(46, 156, 202, 0.7);
    background-color: rgba(46, 156, 202, 0.2);
    padding: 10px;
    border-radius: 3px;
    color: white;
}

.error {
    margin: 40px auto;
    color: #bbb;
    font-size: 0.9em;
    padding: 10px;
}

p.error {
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}

.site-form button {
    background: #2E9CCA;
    border: 0;
    color: #fff;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 10px;
}